@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hoverC: #94a3b8;
  --selectedBg: #444753de;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    /* opacity: 100%; */
  }
  100% {
    transform: translateX(0);
    /* opacity: 100%; */
  }
}

.animate-slide-in {
  animation: slideInFromLeft 1s ease forwards;
  /* animation-delay: 1s; */
  /* opacity: 0; */
}

.hover-p:hover {
  cursor: url('../../svgs/pointer.svg') 0 0, auto;
  
}

.portrait-img {
  width: 23px;
  height: 23px;
}

.friendlist:hover {
  background-color: var(--hoverC);
  cursor: pointer;
}

.userUi:hover {
  cursor: pointer;
  text-decoration: underline;
}

.selected-top {
  border-color: var(--selectedBg);
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@layer components {
  .custom-input {
    
    @apply border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-500 px-1 py-1;
      
  }
  .input-cont {
    @apply flex justify-between flex-col md:flex-row gap-2 items-center;
  }

  .overlay {
    @apply z-0 absolute top-0 left-0 w-full h-full bg-transparent justify-center flex;
  }

  
}

